@import '~bulma';
@import "../../shared/themes.scss";

html,
body {
    height: 100vh;
}

.column {
    padding: 0 !important;
}

.columns {
    margin: 0 !important;
}

.light-theme {
    background-color: $background-light-theme-color;
    color: $primary-light-theme-color;
}

.dark-theme {
    background-color: $background-dark-theme-color;
    color: $primary-dark-theme-color;
}

.red-gradient-theme {
    background: $background-red-gradient-color;
    color: $primary-red-gradient-color;
}

.field:not(:last-child) {
    margin-bottom: 8px !important;
}

.better-steam-button {
    border: none;
    background: none;
    cursor: pointer;

    &--user {
        @extend .better-steam-button;
        color: #1b1d9e;
        margin: 5px 5px 0 0;
    }

    &--favorite {
        @extend .better-steam-button;
        position: absolute !important;
        top: 0;
        right: 0;
        padding: 0;
        margin: 4px 6px;
        color: #fcd303;
    }

    &--wishlist {
        @extend .better-steam-button;
        color: #ff0000;
        padding: 0;
        margin-top: 15px;
        text-decoration: dashed;
    }

    &--theme {
        @extend .better-steam-button;
        margin: 7px 100px 0 0;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.up-button {
    position: fixed;
    bottom: 35px;
    /* Adjust the distance from the bottom as needed */
    right: 20px;
    /* Adjust the distance from the right as needed */
    z-index: 9999;
    /* Make sure it's above other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        background-color: #333;
        color: #fff;
    }
}

.back-home {
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 0 15px;
    border: none;
}

.modal-content {
    width: auto;
}