@import '~bulma';
@import "../../shared/themes.scss";

.column {
    padding: 0 !important;
}

.columns {
    margin: 0 !important;
}

.light-theme {
    background-color: $background-light-theme-color;
    color: $primary-light-theme-color;
}

.dark-theme {
    background-color: $background-dark-theme-color;
    color: $primary-dark-theme-color;
}

.red-gradient-theme {
    background: $background-red-gradient-color;
    color: $primary-red-gradient-color;
}

.field:not(:last-child) {
    margin-bottom: 8px !important;
}